{% extends 'blog/base.html' %}
{% block content %}

    

<h1>Zmiana hasła</h1>
<br/><br/>

<div class="form-group">
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-primary">Zmień hasło</button>
<br/><br/>
<ul>
    <li>Twoje hasło nie może być zbyt podobne do innych Twoich danych osobowych.</li>
    
    <li>Twoje hasło musi zawierać co najmniej 8 znaków.</li>
    
    <li>Twoje hasło nie może być powszechnie używanym hasłem.</li>
    
    <li>Twoje hasło nie może być w całości numeryczne.</li>
</ul>
</div>





{% endblock %}