{% extends "blog/base.html" %}

{% block content %}

{% if validlink %}

<h1>Ustaw nowe hasło</h1>
<div class="form-group">
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <!-- <input class="btn btn-primary" value="Zmień hasło"> -->
  <button type="submit" class="btn btn-primary">Zmień hasło</button>
</form>
</div>
{% else %}

<p>Link do resetowania hasła był nieprawidłowy, prawdopodobnie dlatego, że został już użyty. Proszę ponownie poprosić o zresetowanie hasła.</p>

{% endif %}
{% endblock %}