{% extends 'blog/base.html' %}

{% block content %}

    <h1>Rejestracja</h1>
    <hr>
    <br>    
    <form action="signup" method="POST">
        {% csrf_token %}
        
        <form>
            
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Utwórz nazwę użytkownika" required>
                </div>
                <div class="col">
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
                </div> 
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control"  id="first_name" name="first_name" placeholder="Imię" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control"  id="last_name" name="last_name" placeholder="Nazwisko" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Hasło" required>
                </div>
                <div class="col">
                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Wprowadź ponownie hasło" required>
                </div>
            </div>  
            <br>
           
            <input type="submit" value="Zarejestruj się" class="btn btn-primary" style="width: 20%;">
            
            
            
            
        </form>
    
	
{% endblock %}
