{% load static %}

{% block content %}
	
	
{% for post in posts %}
<article class="post">
	<header>
		<div class="title">
			<h2><a href="{% url 'blog:post-detail' post.pk %}">{{post.title}}</a></h2>
			<p>
				{% autoescape on %}
				{{post.short_content|safe|truncatewords:20}}
				{% endautoescape %}
			</p>
		</div>
		<div class="meta">
			<time class="published" datetime="2015-11-01">{{post.time_create}}</time>
			{% if user.profile %}
			<a href="{% url 'show_profile' post.author.profile.id %}" class="author"><span class="name">{{post.author}}</span><img src="#" alt=""/></a>
			{% else %}
			<a href="" class="author"><span class="name">{{post.author}}</span><img src="#" alt=""/></a>
			{% endif %}
		</div>
	</header>
	{% if post.image %}
	<a href="#" class="image featured"><img src="{{post.image.url}}" alt="" /></a>
	{% endif %}
	<p>{{post.content|safe|linebreaks|truncatewords:20}}</p>
	<footer>
		<ul class="actions">
			<li><a href="{% url 'blog:post-detail' post.pk %}" class="button big">Czytać dalej</a></li>
		</ul>
		<ul class="stats">
			<li><a href="#" class="icon fa-heart">28</a></li>
			<li><a href="#" class="icon fa-comment">128</a></li>
		</ul>
	</footer>
</article>
	<br>
	<br>				
{% empty %}
	<h2>Nie ma jeszcze opublikowanych wiadomości</h2>
{% endfor %}
	
{% endblock %}
