
{% load static %}


<h6 class="sidebar-title">Popularne posty</h6>
{% for post in top_posts %}

<div class="mini-posts">

  <!-- Mini Post -->
    <article class="mini-post">
      <header>
        <h3><a href="{% url 'blog:post-detail' post.pk %}">{{post.title}}</a></h3>
        <time class="published">{{ post.time_create }} </time>
      </header>
      <a href="{% url 'blog:post-detail' post.pk %}" class="image"><img src="{{post.image.url}}" alt="" /></a>
    </article>
</div>
<br>
{% empty %}
	<h2>Brak popularnych postów</h2>
{% endfor %}