{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <h2>Uczestniczę: </h2><hr><br>
    {% for event in i_member %}
        {% if event.event_status %}
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="{% url 'show_event' event.id %}">{{event}}</a></h2>
                    <p>
                        {% autoescape on %}
                        {{ event.venue.details|safe|truncatewords:20}}
                        {% endautoescape %}
                    </p>
                </div>
                <div class="meta">
                    
                    <a href="" class="published"><span class="name">{{ event.venue }}</span></a>
                    <time class="published" datetime="2015-11-01">{{ event.event_date }}</time>
                    {% if user.profile %}
                    <a href="{% url 'show_profile' post.author.profile.id %}" class="author"><span class="name">{{ event.manager }}</span><img src="#" alt=""/></a>               
                    {% else %}
                    <a href="" class="author"><span class="name">{{ event.manager }}</span><img src="#" alt=""/></a>
                    {% endif %}
                </div>
            </header>
            {% if event.venue.image %}
            <a href="#" class="image featured"><img src="{{event.venue.image.url}}" alt="" /></a>
            {% endif %}
            <p>{{ event.short_description|safe|linebreaks|truncatewords:50}}</p>
            <footer>
                <ul class="actions">
                    <li><a href="{% url 'show_event' event.id %}" class="button big">Czytać dalej</a></li>
                </ul>
            </footer>
        </article>
            <br>
        
        {% endif %}
    {% endfor %}
    
    
    <h2>Zorganizowałem: </h2><hr><br>
    {% for event in events %}
        {% if event.event_status %}
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="{% url 'show_event' event.id %}">{{event}}</a></h2>
                    <p>
                        {% autoescape on %}
                        {{ event.venue.details|safe|truncatewords:20}}
                        {% endautoescape %}
                    </p>
                </div>
                <div class="meta">
                    
                    <a href="" class="published"><span class="name">{{ event.venue }}</span></a>
                    <time class="published" datetime="2015-11-01">{{ event.event_date }}</time>
                    {% if user.profile %}
                    <a href="{% url 'show_profile' post.author.profile.id %}" class="author"><span class="name">{{ event.manager }}</span><img src="#" alt=""/></a>               
                    {% else %}
                    <a href="" class="author"><span class="name">{{ event.manager }}</span><img src="#" alt=""/></a>
                    {% endif %}
                </div>
            </header>
            {% if event.venue.image %}
            <a href="#" class="image featured"><img src="{{event.venue.image.url}}" alt="" /></a>
            {% endif %}
            <p>{{ event.short_description|safe|linebreaks|truncatewords:50}}</p>
            <footer>
                <ul class="actions">
                    <li><a href="{% url 'show_event' event.id %}" class="button big">Czytać dalej</a></li>
                </ul>
            </footer>
        </article>
        <br>
        {% endif %}
    {% endfor %}
    
{% endblock %}
